{
  "parser": "@babel/eslint-parser",
  "extends": ["airbnb/base"],
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "max-len": ["error", { "code": 150 }],
    "no-console": "off",
    "max-classes-per-file": 0
  }
}
